.container {
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  justify-items: flex-start;
  align-items: stretch;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "table specials"
    "name specials"
    "stats specials"
    "passive specials"
    "wounds wounds";
}

.table {
  grid-area: table;
  font-size: 12px;
  text-transform: capitalize;
  display: inline;
}

.name {
  grid-area: name;
  text-transform: uppercase;
}

.stats {
  grid-area: stats;
}

.passive {
  grid-area: passive;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
}

.passive h2 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.passive p {
  font-size: 10px;
  margin: 1px;
}

.specials {
  grid-area: specials;
  justify-self: end;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
}

.specials h1 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.specials h2 {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.specials i {
  font-size: 10px;
}

.specials p {
  font-size: 10px;
  margin: 1px;
}

.specials hr {
  margin-block: 5px;
}

.wounds {
  grid-area: wounds;
  width: 100%;
}
