.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.header {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #daa520;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardType {
  color: #daa520;
  font-weight: bold;
  font-size: 10px;
}

.header h2 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}

.content {
  font-size: 12px;
  text-align: left;
}

.content p {
  margin: 0;
}

.target {
  font-size: 10px;
  color: #daa520;
}

.unrevealedOverlay {
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  background-color: rgb(71, 70, 70);
  display: flex;
  align-items: center;
}
