@font-face {
  font-family: "RobotoCondensed";
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoCondensed";
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url(./fonts/Roboto/Roboto-Italic.ttf);
  font-style: italic;
}

body {
  margin: 0;
  font-family: "RobotoCondensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
